body {
  margin: 0;
}

/* Header */

header {
  display: flex;
  position: fixed;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid #000;
  height: 80px;
  width: 100%;
  align-items: center;
  z-index: 1;
  background-color: #fff;
}

nav {
  padding-right: 35px;
}

nav span {
  display: inline-block;
  text-decoration: underline;
  text-align: center;
  margin: 20px 15px 20px 10px;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo img {
  margin-right: 10px;
}

.logo span {
  color: MediumAquamarine;
}

/* Main Content */

.main {
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 35px;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

/* Image-Content */

.image {
  display: flex;
  align-items: center;
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
  margin-top: 15px;
}

.fish {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
  width: 630px;
  font-size: 40px;
  text-align: left;
  margin: 0;
}

.image.fish span {
  margin-left: 20px;
}

.image.fall {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
}

.hipster {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
}

.cat {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
}

/* Text-Content */

p.narrative {
  font-family: Georgia;
  font-size: 17px;
}

.text h2 {
  font-size: 30px;
  font-weight: bold;
  font-family: Georgia;
  font-style: normal;
  margin: 0;
}

.head-story {
  display: flex;
  flex-direction: column;
}

.stories {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.story {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.stories .text {
  height: 250px;
}

/* News Bites */

.news {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 40px;
}

.bites {
  padding: 11px 20px;
  border-bottom: 1px solid #000;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  width: 200px;
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  height: 350px;
  width: 100%;
}

.title {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-right: 2px solid #fff;
  padding-right: 25px;
  margin-right: 20px;
}

span.menu {
  text-decoration: underline;
  margin: 12px;
  }

.bottom {
    margin-bottom: 23px;
  }
