body {
  margin: 0;
}

div {
  border: 1px solid #000;
}

/* Header */

header {
  display: flex;
  position: fixed;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid #000;
  height: 80px;
  width: 100%;
  align-items: center;
  z-index: 1;
  background-color: #fff;
}

nav {
  padding-right: 35px;
}

nav span {
  display: inline-block;
  text-decoration: underline;
  text-align: center;
  margin: 20px 15px 20px 10px;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo img {
  margin-right: 10px;
}

.logo span {
  color: MediumAquamarine;
}

/* Main Content */

.main {
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 35px;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}
